<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>McFly</title>
    <link rel="stylesheet" href="../css/index.css">
</head>
<body>

<nav>
    <p><a href="/">Home</a></p>
    <p><a href="/favNote">Favoritos</a></p>
</nav>
    
<% results.forEach( function( notes ){ %>
                <div class="card">
                    <h5><a href="/oneNote/:id_note"class="card-title"><%= notes.name  %></a></h5>
                    <a href="javascript:window.external.AddFavorite('http://localhost:3000/favNote');">
                        <b>Marcar como Favorito</b></a>
                        <a href='#' onclick="javascript:this.style.behavior='url(#default#homepage)';this.setHomePage('localhost:3000/favNote');return false"></a>
                        
                    <button type="button" class="btn btn-danger"><a class="delete" href="/notes/delete/<%= notes.notes_id %>">Delete</a></button>
                </div>
<% } ) %>
    
<div>
    <textarea name="create" id="" cols="6" rows="5"></textarea>
    <input  class="button" type="submit" value="Post">
</div>

</body>
</html>